//Espino_Mod3_3.css

h1 {
	text-align: center;
}


.side-divs {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.last-div {
	width: 100%;
	margin-top: 60%;
}

h3 {
	font-weight: 500;
}


ul, ol {
	font-weight: 300;
}

ol {
	border: 1px solid red;
	border-radius: 15px;
	padding: 10px;
	list-style-position: inside;
}

ul {
	border: 1px dashed red;
	border-radius: 15px;
	padding: 10px;
	list-style-type: upper-roman;
	list-style-position: inside;
}

a:hover {
	text-decoration: underline;
}

.bottom-div {
	float: right;
	margin-bottom: 20px;
}
